<main role="main">

    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Bienvenue sur <em id="smartJukebox">smartJukebox</em> !</h1>
        <p>Vous pouvez dès à présent commencer à utiliser l'application. Pour débuter, vous pourriez chercher une musique ?</p>
        <p><a class="btn btn-primary btn-lg" routerLink="/search" routerLinkActive="active" role="button">Rechercher une musique &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>Recherche</h2>
          <p align="justify">L'onglet recherche vous permet de trouver n'importe laquelle de vos musiques favorites tant qu'elle existe sur Youtube. Vous pourrez depuis cette page ajouter les musiques choisies à votre playlist perso, ou a vos salons.</p>
        </div>
        <div class="col-md-4">
          <h2>Lecture</h2>
          <p align="justify">Visistez l'onget lecture pour consulter, gérer et écouter votre playlist perso.</p>
        </div>
        <div class="col-md-4">
          <h2>Salons</h2>
          <p align="justify">Rejoignez un salon public ou privé (nécessite un mot de passe) pour découvrir et écouter les playlists des autres utilisateurs, et donnez-leur votre avis ! Ou créez votre propre salon, et montrez au monde entier vos goûts musicaux affutés ...</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4"><p><a class="btn btn-secondary" routerLink="/search" routerLinkActive="active" role="button">Recherche &raquo;</a></p>
        </div>
        <div class="col-md-4"><p><a class="btn btn-secondary" routerLink="/players" routerLinkActive="active" role="button">Lecture &raquo;</a></p>
        </div>
        <div class="col-md-4"><p><a class="btn btn-secondary" routerLink="/channels" routerLinkActive="active" role="button">Salons &raquo;</a></p>
        </div>
      </div>
    </div>

</main>

<router-outlet></router-outlet>
