<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



<!-- Individual view of a selected channel -->

<div *ngIf="individualView" [@changeViewAnimation]>
    <div class="card border-0">    
        <div class="d-flex justify-content-center">
            <a *ngIf="isHost" class="p2 flex-fill btn btn-lg btn-danger rounded-0 text-light" (click)="deleteChannel()">Supprimer le salon</a>
            <a *ngIf="!isHost" class="p2 flex-fill btn btn-lg btn-warning rounded-0 text-light" (click)="leaveChannel()">Quitter le salon</a>
            <a class="p2 flex-fill btn btn-lg btn-dark rounded-0 text-light" (click)="backToMainView()">Retourner à la vue principale</a>
        </div>
    </div>

    <div class="jumbotron">
        <div class="row mb-5">
            <div class="col">
                <div align="center">
                    <h5>Membres du salon : </h5>
                    <p>{{currentChannel.host}}&nbsp;&nbsp;&nbsp;<i class="fa fa-podcast fa-lg"></i></p>
                    <div *ngFor="let m of currentChannel.members;">{{m}}</div>
                </div>
            </div>
            <div class="col">
                <div align="center">
                    <h1>{{currentChannel.name}}</h1>
                </div>
            </div>
            <div class="col">
                <div align="center">
                    <h5>Description : </h5>
                    <p>{{currentChannel.description}}</p>
                </div>
            </div>
        </div>
        <div class="row pt-5 mb-5">
            <div class="col">
                <div align="center">
                    <strong>[PLAYER GOES HERE]</strong>
                </div>
            </div>
            <div class="col">
                <div align="center">
                    <div *ngFor="let m of currentChannelMessages;" class="card rounded-0 border-0">
                        <div class="card-body">
                            <h5 class="card-title">{{m.content}}</h5>
                            <p class="card-text">{{m.author}}</p>
                            <p class="card-text">{{m.date}}</p>
                        </div>
                    </div>
                    <form [formGroup]="postChatMessage" (ngSubmit)="onPost(postChatMessage.value)">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-share"></i>
                                    </span>
                                </div>
                                <input class="form-control" type="text" formControlName="message" name="message" id="message" placeholder="Écrire un nouveau message" required/>
                            </div>
                        </div>
    
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block" id="postMessage" name="postMessage" [disabled]="!postChatMessage.valid"> Envoyer  </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Global views of channels (public/user channels) -->

<div *ngIf="!individualView" [@changeViewAnimation]>
    <div class="card border-0">    
        <div class="d-flex justify-content-center">
            <a class="p2 flex-fill btn btn-lg btn-dark rounded-0 text-light" (click)="toggleCreationForm()">Créer un nouveau salon</a>
            <a *ngIf="mainView" class="p2 flex-fill btn btn-lg btn-dark rounded-0 text-light" (click)="toggleMainView()">Accéder à mes salons</a>
            <a *ngIf="!mainView" class="p2 flex-fill btn btn-lg btn-dark rounded-0 text-light" (click)="toggleMainView()">Revenir à la vue principale</a>
        </div>
    </div>


    <!-- Channel creation form -->
    
    <div *ngIf="creatingNewChannel" [@formAnimation]>
        <article class="card-body">
            <h4 class="card-title text-center mb-4 mt-1">Création d'un salon</h4>
    
            <div *ngIf="takenName" class="alert alert-danger">
                Ce nom de salon est déjà utilisé. Veuillez en choisir un nouveau.
            </div>
    
            <form [formGroup]="newChannelForm" (ngSubmit)="onSubmit(newChannelForm.value)">
    
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-bars"></i></span>
                        </div>
                        <input class="form-control" type="text" formControlName="name" name="name" id="name" placeholder="Nom du salon" required/>
                    </div>
                    <div *ngIf="name.invalid && !name.pristine" class="alert alert-danger mt-1 mb-2 rounded-0">
                        <div *ngIf="name.errors.required">Ce champ est requis</div>
                    </div>
                </div>
    
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-bars"></i></span>
                        </div>
                        <input class="form-control" type="textfield" formControlName="description" name="description" id="description" placeholder="Description"/>
                    </div>
                </div>
    
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i></span>
                        </div>
                        <input class="form-control" type="textfield" formControlName="password" name="password" id="password" placeholder="Mot de passe (optionnel)"/>
                    </div>
                </div>
    
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block" id="submitDetails" name="submitDetails" [disabled]="!newChannelForm.valid"> Créer  </button>
                </div>
    
                <p class="text-center"><a class="nav-link" (click)="toggleCreationForm()">Fermer</a></p>
    
            </form>
        </article>
    </div>



    <!-- Public channels -->
    
    <div *ngIf="mainView" class="jumbotron" [@changeViewAnimation]>
    
        <div class="mb-5 pb-2">
            <h2>Salons publics</h2>
            <form class="form-inline mt-4 mb-3" [formGroup]="searchForm" (ngSubmit)="search(searchForm.value)">
                <i class="fa fa-search" aria-hidden="true"></i>
                <input class="form-control form-control-sm ml-3 w-75 rounded-0 border-0" type="text" formControlName="search" name="search" placeholder="Rechercher un salon" aria-label="Search">
            </form>
            <a class="p2 mt-3 flex-fill btn btn-lg btn-dark rounded-0 text-light" (click)="loadMainView()"><i class="fa fa-refresh"></i></a>
        </div>
    
        <div class="card-columns">
            <div *ngFor="let pc of publicChannels;" class="card rounded-0 border-0">
                <div class="card-body">
                    <i *ngIf="pc.password" class="fa fa-lock" aria-hidden="true"></i>
                    <h5 class="card-title">{{pc.name}}</h5>
                    <p class="card-text">{{pc.description}}</p>
                    <p class="card-text"><small class="text-muted">Participants : {{pc.members.length+1}}</small></p>
                    <a *ngIf="!pc.password" class="hidden stretched-link" (click)="openIndividualView(pc)"></a>
                    <a *ngIf="pc.password" class="hidden stretched-link" (click)="showModal=true;channelToTest=pc"></a>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Modal -->
    <div class="modal" id="myModal" [ngClass]="{'show':showModal}">
        <div class="modal-dialog">
        <div class="modal-content">
    
            <!-- Modal Header -->
            <div class="modal-header">
            <h4 class="modal-title">Salon privé</h4>
            <button type="button" class="close" (click)="showModal=false" data-dismiss="modal">&times;</button>
            </div>
    
            <!-- Modal body -->
            <form [formGroup]="passwordForm" (ngSubmit)="checkPassword(passwordForm.value)">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-lock"></i>
                            </span>
                        </div>
                        <input class="form-control" type="text" formControlName="password" name="password" id="password" placeholder="Mot de passe du salon" required/>
                    </div>
                    <div *ngIf="incorrectPassword" class="alert alert-danger mt-1 mb-2 rounded-0">
                        <div> Le mot de passe est incorrect</div>                                    
                    </div>
                </div>
            
                <!-- Modal footer -->
                <div class="modal-footer">
                    <div class="form-group">
                    <button type="submit" class="btn btn-primary" data-dismiss="modal">Entrer</button>
                    </div>
                </div>
            </form> 
    
            </div>
        </div>
    </div>

    <!-- User channels -->
    
    <div *ngIf="!mainView" class="jumbotron" [@changeViewAnimation]>
    
        <div class="mb-5 pb-2">
            <h2>Mes salons</h2>
            <form class="form-inline mt-4 mb-3" [formGroup]="privateSearchForm" (ngSubmit)="privateSearch(privateSearchForm.value)">
                <i class="fa fa-search" aria-hidden="true"></i>
                <input class="form-control form-control-sm ml-3 w-75 rounded-0 border-0" type="text" formControlName="search" name="search" placeholder="Rechercher un salon" aria-label="Search">
            </form>
            <a class="p2 mt-3 flex-fill btn btn-lg btn-dark rounded-0 text-light" (click)="loadPersonnalView()"><i class="fa fa-refresh"></i></a>
        </div>
    
        <div class="card-columns">
            <div *ngFor="let hc of hostChannels;" class="card rounded-0 border-0">
                <div class="card-body">
                    <h5 class="card-title">{{hc.name}} &nbsp;<i class="fa fa-podcast fa-lg"></i></h5>
                    <i *ngIf="hc.password" class="fa fa-unlock" aria-hidden="true"></i>
                    <p class="card-text">{{hc.description}}</p>
                    <p class="card-text"><small class="text-muted">Participants : {{hc.members.length+1}}</small></p>
                    <a class="hidden stretched-link" (click)="openIndividualView(hc)"></a>
                </div>
            </div>
            <div *ngFor="let mc of memberChannels;" class="card rounded-0 border-0">
                <div class="card-body">
                    <h5 class="card-title">{{mc.name}}</h5>
                    <p class="card-text">{{mc.description}}</p>
                    <p class="card-text"><small class="text-muted">Participants : {{mc.members.length+1}}</small></p>
                    <a class="hidden stretched-link" (click)="openIndividualView(mc)"></a>
                </div>
            </div>
        </div>
    </div>
</div>

